@import "../../styles/color";

.pill {
  border-radius: 1em;
  display: inline-block;
  padding: 0 0.5em 0 0.5em;
  background-color: $primary;

  &.active {
    transition: all 0.2s;
    cursor: pointer;

    &:hover {
      color: darken($icon-hover, 25%);
      background-color: lighten($icon-hover, 25%);
    }
  }
}
