@import "../../styles/color";

.nav {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;


    & &__icon {
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 1em;

        &__icon i {
            font-size: 28pt;
        }

        &.active {
            border-bottom: 2px red solid;
            background-color: $icon-hover;
        }

        &:hover {
            background-color: $icon-hover;
        }
    }

    & &__item {
        flex: 1;

        & &__icon {
            width: 100%;
        }


        & a {
            text-decoration: none;
            color: $foreground;
            & i {
                vertical-align: middle;
            }
        }

        &:hover {
            background-color: $icon-hover;
        }
    }

    & &__dropdown {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 0.5em 0.5em;

        cursor: pointer;

        &.active {
            color: #000;
        }

        &:hover {
            color: green;
        }

        &__label {
            flex: 1;
            display: flex;
            justify-content: space-evenly;

            & div {
                display: flex;
            }

            & i {
                display: block;
            }
        }

        &__content {
            padding-left: 0.5em;
        }
    }
}
