

// Backgrounds
$background: #011627ff;
$modal-background: #01162733;
$dropshadow: #00000033;

// Foreground
$foreground: #fdfffcff;
$icon-hover: #6c6c6cff;

// Navbar
$navbar-border: #fdfffcff;
$light-border: #b8b8b8;


$accept: #2ec4b6ff;
$warning: #e71d36ff;
$info: #ff9f1cff;

$button-raised-color: #ffffff;
$button-raised-background-color: #006eff;
$button-raised-hover-text-color: #fdfffcff;


// CONSTANTS
$button-raised-width: 1em;


$raised-shadow: 0 2px 2px 0 #00000024, 0 1px 5px 0 #0000001f, 0 3px 1px -2px #00000033;
$raised-shadow-pressed: 0 8px 10px 1px #00000024, 0 3px 14px 2px #0000001f, 0 5px 5px -3px #00000066;