.dashboard {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 45vh);
  gap: 2rem;

  &__item {
    justify-content: center;
    flex: 1;
    grid-column: 1 / 3;
  }
}
